pkgbase = deskpuck-bin
	pkgdesc = Use a Nintendo Switch 2 Joy-Con as a mouse and keyboard
	pkgver = 0.3.0
	pkgrel = 1
	url = https://github.com/Pyronewbic/deskpuck
	install = deskpuck.install
	arch = x86_64
	license = MIT
	depends = bluez
	depends = dbus
	depends = glibc
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libglvnd
	depends = libx11
	depends = libxcursor
	depends = libxi
	depends = libxkbcommon
	depends = libxkbcommon-x11
	depends = libxrender
	depends = wayland
	optdepends = gnome-shell-extension-appindicator: tray icon on GNOME
	provides = deskpuck
	conflicts = deskpuck
	options = !debug
	source = Deskpuck-0.3.0-linux-x86_64.tar.gz::https://github.com/Pyronewbic/deskpuck/releases/download/v0.3.0/Deskpuck-0.3.0-linux-x86_64.tar.gz
	source = 60-deskpuck-uinput.rules
	sha256sums = ca66b384e27fcc80e822c99ce5f66b1f80f423c4fbd71dbf3174de851aa6f88c
	sha256sums = 27e69cdde6bcbb696b345efc7646c9be04357243dd8afa3f0a5c521d5cd87b1b

pkgname = deskpuck-bin
